<template>
    <router-view></router-view>
</template>
<style>
/* IMPROVEMENT NOTES: I could install a css-loader to remove these styles from here*/
.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #f5f5f5;
  color: #6e6e6e;
}
input[type="submit"] {
  background-color: #a6ce38;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
}
</style>


