<template>
  <div>
    <div class="header">
      <a class="navbar-brand" href="/">
          <img src="static/img/logo.jpg"  alt="homepage" >
      </a>
      <span class="header-title">Desafio EduQC</span>  
    <i class="fas fa-sign-out-alt sigout"></i>
    </div>
    <div class='container'>
      <question-card v-for="(q,index) in questions" :key="q._id" :question="q" :question-number="index"></question-card>
    </div>
  </div>
</template>
<script>
import QuestionCard from "./QuestionCard.vue";
import Vue from "vue";
export default {
  data: () => {
    return {
      questions: [],
      isLoading: false
    };
  },
  components: {
    QuestionCard
  },
  mounted: function() {
    const self = this;
    const encodedAuth = btoa("user:senhaforte");
    this.$axios.defaults.headers.common[
      "Authorization"
    ] = `Basic ${encodedAuth}`;
    //this.$nextTick(function () {
    this.$axios.get("/questions").then(
      response => {
        self.questions = response.data._items;
      },
      errorResponse => {
        console.log("​errorResponse", errorResponse);
      }
    );
  }
};
</script>
<style>
.header {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 50;
  background: #fff;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #016db9;
}
.navbar-brand img {
  height: 22px;
  margin: 10px;
}
.header-title {
  font-size: 20px;
}
.sigout {
  margin: 10px;
  font-size: 18px;
}
</style>