<template>
<div class="container">
    <div class="login-box">
        <img src="static/img/logo.jpg" ><br>
        <form>
            <input type="text" placeholder="Nome de Usuário"/>
            <input type="text" placeholder="Senha"/>
            <input type="submit" value="Log In">
        </form>
    </div>
</div>
</template>
<style>
.login-box {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05) !important;
  background: #fff;
  /* width: 50vw; */
  padding: 40px;
  text-align: center;
  /* justify-content: center;
  display: flex; */
}
i.fa-lock {
  font-size: 2rem;
}
img {
  height: 70px;
  margin-bottom: 40px;
}
form {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
}
input[type="text"] {
  outline: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
</style>
