<template>
  <div class="card">
    <h3>Questão {{questionNumber + 1}}</h3>
      <hr>
      <p>
        {{question.enunciation}}
      </p>
      <hr>
      <form v-on:submit.prevent="checkAnswer()" >
        <div class="alternative" v-for="(alt, key) in question.alternatives" :key="key">
          <p> <input type="radio" v-model="selectedAlternative" :value="key"> <b>{{key}})</b> {{alt}}</p>
        </div> 
        <input type="submit" value="Responder">
        <span class="correct-answer" v-if="question.answer == answeredAlternative">Resposta Correta!</span>
        <span class="wrong-answer" v-else-if="answeredAlternative != '' && question.answer != answeredAlternative">Que pena! Você errou, alternativa correta: {{question.answer}}</span>
      </form>
    </div>
</template>
<script>
//TODO: implementar funcao responder
export default {
  data: () => {
    return {
      selectedAlternative: "",
      answeredAlternative: ""
    };
  },
  props: ["question", "questionNumber"],
  methods: {
    checkAnswer: function() {
      this.answeredAlternative = this.selectedAlternative;
    }
  }
};
</script>
<style>
.card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05) !important;
  background: #fff;
  margin-top: 30px;
  width: 65vw;
  min-width: 500px;
  padding: 40px;
}
p {
  text-align: justify;
}
.correct-answer {
  color: green;
}
.wrong-answer {
  color: red;
}
</style>
